aiofiles==25.1.0

alembic==1.18.4

annotated-doc==0.0.4

annotated-types==0.7.0

anyio==4.13.0

asttokens==3.0.1

attrs==26.1.0

beautifulsoup4==4.14.3

blinker==1.9.0

bottle==0.13.4

catboost==1.2.10

category_encoders==2.9.0

certifi==2026.4.22

charset-normalizer==3.4.7

choreographer==1.3.0

click==8.3.3

cloudpickle==3.1.2

colorama==0.4.6

colorlog==6.10.1

colour==0.1.5

comm==0.2.3

contourpy==1.3.3

cycler==0.12.1

debugpy==1.8.20

decorator==5.2.1

dnspython==2.8.0

dtreeviz==2.3.2

duckdb==1.5.4

email-validator==2.3.0

et_xmlfile==2.0.0

executing==2.2.1

fastapi==0.136.3

fastjsonschema==2.21.2

feature_engine==1.9.4

filelock==3.29.0

Flask==3.1.3

fonttools==4.62.1

fsspec==2026.3.0

gdown==6.1.0

geographiclib==2.1

geopy==2.4.1

graphviz==0.21

greenlet==3.5.0

h11==0.16.0

hf-xet==1.4.3

httpcore==1.0.9

httptools==0.8.0

httpx==0.28.1

huggingface_hub==1.12.0

idna==3.13

imbalanced-learn==0.14.1

imblearn==0.0

ipykernel==7.2.0

ipython==9.12.0

ipython_pygments_lexers==1.1.1

ipywidgets==8.1.8

itsdangerous==2.2.0

jedi==0.19.2

Jinja2==3.1.6

joblib==1.5.3

jsonschema==4.26.0

jsonschema-specifications==2025.9.1

jupyter_client==8.8.0

jupyter_core==5.9.1

jupyterlab_widgets==3.0.16

kaleido==1.3.0

kiwisolver==1.5.0

lightgbm==4.6.0

llvmlite==0.47.0

logistro==2.0.1

Mako==1.3.12

markdown-it-py==4.0.0

MarkupSafe==3.0.3

matplotlib==3.10.9

matplotlib-inline==0.2.1

mdurl==0.1.2

missingno==0.5.2

mlxtend==0.24.0

mplcyberpunk==0.7.6

mpmath==1.3.0

narwhals==2.20.0

nbformat==5.10.4

nest-asyncio==1.6.0

networkx==3.6.1

nltk==3.9.4

numba==0.65.1

numpy==2.4.4

openpyxl==3.1.5

optuna==4.8.0

optuna-dashboard==0.20.0

optuna-integration==4.8.0

orjson==3.11.9

packaging==26.1

pandas==3.0.2

param==2.4.1

parso==0.8.6

patsy==1.0.2

pillow==12.2.0

platformdirs==4.9.6

plotly==6.7.0

prompt_toolkit==3.0.52

psutil==7.2.2

pure_eval==0.2.3

pydantic==2.13.4

pydantic_core==2.46.4

Pygments==2.20.0

pyparsing==3.3.2

pyrefly==1.1.1

PySocks==1.7.1

python-dateutil==2.9.0.post0

python-dotenv==1.2.2

pyviz_comms==3.0.6

PyYAML==6.0.3

pyzmq==27.1.0

referencing==0.37.0

regex==2026.4.4

requests==2.34.2

rich==15.0.0

rpds-py==0.30.0

safetensors==0.7.0

scikit-learn==1.8.0

scipy==1.17.1

seaborn==0.13.2

sentence-transformers==5.4.1

setuptools==81.0.0

shellingham==1.5.4

simplejson==4.1.1

six==1.17.0

sklearn-compat==0.1.5

slicer==0.0.8

soupsieve==2.8.4

SQLAlchemy==2.0.49

stack-data==0.6.3

starlette==1.2.1

statsmodels==0.14.6

sympy==1.14.0

threadpoolctl==3.6.0

tokenizers==0.22.2

torch==2.13.0

torchaudio==2.11.0

torchvision==0.28.0

tornado==6.5.5

tqdm==4.67.3

traitlets==5.14.3

transformers==5.6.2

typer==0.24.2

typing-inspection==0.4.2

typing_extensions==4.15.0

tzdata==2026.1

urllib3==2.7.0

uvicorn==0.49.0

watchfiles==1.2.0

wcwidth==0.6.0

websockets==16.0

Werkzeug==3.1.8

widgetsnbextension==4.0.15

xgboost==3.2.0

